/****************************************
* Site wide
****************************************/

/* Box Model*/
* {
  box-sizing: border-box;
}


/* Clear fix*/
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

:root {
  --primary: #000;
  --secondary: #fff;
  --background: #fff;
}

body {
  font-size: 16px;
  min-width: 20rem;
}

header, footer {
  padding: 0;
}

main {
  margin: 0 auto;
  display: flex;
  justify-content: start;
  flex-direction: column;
  max-width: 50rem;
}

/****************************************
* Components
****************************************/

/*main navbar*/
.mainNav li a {
  color: #999;
}

.mainNav a[data-current="current item"] {
  background-color: transparent;
  color: #fff;
}

.mainNav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #000;
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #FFF;
  height: 50px;
  padding: 1em;
}

.navItems {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navItems>li {
  margin: 0 1rem;
}

.menuButtonContainer {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menuToggle {
  display: none;
}

.menuButton,
.menuButton::before,
.menuButton::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menuButton::before {
  content: '';
  margin-top: -8px;
}

.menuButton::after {
  content: '';
  margin-top: 8px;
}

#menuToggle:checked+.menuButtonContainer .menuButton::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menuToggle:checked+.menuButtonContainer .menuButton {
  background: rgba(255, 255, 255, 0);
}

#menuToggle:checked+.menuButtonContainer .menuButton::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

.menuButtonContainer {
  display: flex;
}

.navItems {
  position: absolute;
  top: 0;
  margin-top: 50px;
  left: 0;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

#menuToggle~.navItems li {
  height: 0;
  margin: 0;
  padding: 0;
  border: 0;
  transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  overflow: hidden;
}

#menuToggle:checked~.navItems li {
  border: 1px solid #333;
  height: 2.5em;
  padding: 0.5em;
  transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}

.navItems>li {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0.5em 0;
  width: 100%;
  color: white;
  background-color: #222;
}

.navItems>li:not(:last-child) {
  border-bottom: 1px solid #444;
}

/* Hero image with logo */
.hero {
  padding: 3rem;
  display: flex;
  justify-content: center;
  background-image: url("/static/img/hero_bg_op.jpg");
  background-size: cover;
}

.hero>div {
  width: 90%;
  max-width: 50rem;
}

.hero .logo {
  width: 100%;
  max-width: 30rem;
}

/*feature showcase*/
.feature header{
  display:flex;
  justify-content: start;
  align-items: flex-start;
}

.feature header img {
  max-width: 30%;
  height: auto;
  object-fit: contain;
}

.feature header h3 {
  font-size: 2.5rem;
  font-weight: 400;
  margin: 0;
  margin-left: .5rem;
}

.feature footer a {
  color: rgb(67, 119, 8);
  text-decoration: underline;
}

.feature footer a:hover {
  text-decoration: none;
}