<footer>
  <small>
    This project is maintained by <a href="https://calmatlas.com/">Chris Jaime</a>.
    Started with <a href="{{ pkg.repository.url }}">eleventy-netlify-boilerplate</a>.
  </small>
  {% set collectionName = "footerElement" %}
  {% include "components/collectionList.njk" %}
</footer>
