<section id="features" class="features">
	{% for feature in featureslist %}
		<article class="feature">
			<header>
				<img src="{{ feature.data.image }}" alt="{{ feature.data.imgAlt }}">
				<h3>{{ feature.data.title }}</h3>
			</header>
			<p>{{ feature.data.snippet }}</p>
			<footer><a href="{{ feature.data.link }}">{{ feature.data.linkText }} <span>>></span></a></footer>
		</article>
	{% endfor %}
</section>