<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body>

		<header>
			{% include "components/mainNav.njk" %}
			<section class="hero">
				<div>
					<img class="logo" alt="Code For Tucson Logo" src="/static/img/CodeForTucson_logo_dark.png">
				</div>
			</section>
		</header>

		<main>
			{{ layoutContent | safe }}
		</main>

		{% if secondSection %}
		<section class="nextSection">
			<header>
				<h2>{{ secondHeader }}<h2>
			</header>
    		<p>{{ secondSection }}</p>
		</section>
		{% endif %}
		
		{% include "components/footer.njk" %}

	</body>

</html>