<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body>

		<header>
			{% include "components/mainNav.njk" %}
			{% include "components/hero.njk" %}
		</header>

		<main>
			{{ layoutContent | safe }}
			{% if hasSecond %}
				{% include "components/secondSection.njk" %}
			{% endif %}
			{% if hasCollection and collectionName %}
				{% include "components/collectionList.njk" %}
			{% endif %}
		</main>
		
		{% include "components/pageFooter.njk" %}

	</body>

</html>