---
layout: layouts/base.njk
section: feature
---

<article class="feature">
    <img src="{{ feature.data.image }}" alt="{{ feature.data.imgAlt }}">
    <h3>{{ feature.data.title }}</h3>
    <p>{{ feature.data.snippet }}</p>
    <a href="{{ feature.data.link }}">{{ feature.data.linkText }}</a> <span>>></span>
</article>