---
layout: layouts/base.njk
section: home
---

{{ layoutContent | safe }}

{% set collectionName = "feature" %}
{% set collectionList = collections[collectionName] %}
{% include "components/collectionList.njk" %}