---
layout: layouts/base.njk
section: projectsPage
permalink: /projectsPage/index.html
---
{{ layoutContent | safe }}

{% set projectslist = collections.project %}
{% include "components/projectslist.njk" %}